.navbar {
   margin-top: 1.2%;
   margin-left: 5%;
   margin-right: 5%;
   border-radius: 7px;
}

.navbar > .active{
    border-radius: 7px;
 }

.carousel {
  height: auto;
}

.carousel .item {
    min-height: 250px;
}

.carousel-inner > .item > img {
  min-height: 250px;
}
